In [12]:
import pandas as pd
import numpy as np

In [13]:
import yfinance

msft_data = yfinance.Ticker("MSFT")
msft_data_df = msft_data.history(period="max")

In [14]:
msft_df = msft_data_df[['Close']]
msft_df

                                Close
Date
1986-03-13 00:00:00-05:00    0.059827
1986-03-14 00:00:00-05:00    0.061963
1986-03-17 00:00:00-05:00    0.063032
1986-03-18 00:00:00-05:00    0.061429
1986-03-19 00:00:00-05:00    0.060361
...                               ...
2024-11-22 00:00:00-05:00  417.000000
2024-11-25 00:00:00-05:00  418.790009
2024-11-26 00:00:00-05:00  427.989990
2024-11-27 00:00:00-05:00  422.989990
2024-11-29 00:00:00-05:00  423.459991

[9758 rows x 1 columns]

In [15]:
msft_df['Date']

KeyError: 'Date'